.inline_input_container {
  display: flex;
}

.inline_input_container input {
  width: 313px;
}

.inline_input_container div:nth-child(2) {
  margin-left: 30px;
}

.info_txt {
  max-width: 313px;
  font-size: 14px;
  line-height: normal;
  text-align: left;
}

.reg_btn_container {
  max-width: 313px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reg_btn_container button {
  margin: 0;
  height: 50px;
}

.email_open_icon {
  margin-bottom: 15px;
}

.confirm_msg_container {
  max-width: 450px;
  line-height: normal;
}

.confirm_msg_container p {
  margin: 15px 0;
  font-family: "BonavaSans_regular" !important;
}

.confirm_msg_container a {
  color: #8bd1bf;
  outline: 0;
}

.pass_input_container {
  display: flex;
  margin: 0 !important;
  position: relative;
}

.pass_input_container svg {
  position: absolute;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}

.pass_input_container svg path {
  color: #b0b2b3 !important;
}
.Login-input-password:valid,
.Login-input-password:invalid {
  padding-right: calc(3.5em + 0.75rem) !important;
  background-position: center right calc(2.375em + 0.1875rem) !important;
}

.bottom_message {
  margin-bottom: 0 !important;
}

@media (max-width: 992px) {
  .inline_input_container {
    flex-direction: column;
  }
  .inline_input_container div:nth-child(2) {
    margin-left: 0;
  }
  .info_txt {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .inline_input_container input {
    width: 200px;
  }
}
