/* Webfont: BonavaSans-Medium */@font-face {
    font-family: 'BonavaSansMedium';
    src: url('BonavaSans-Medium.eot'); /* IE9 Compat Modes */
    src: url('BonavaSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BonavaSans-Medium.woff') format('woff'), /* Modern Browsers */
         url('BonavaSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BonavaSans-Medium.svg#BonavaSans-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

