/* Webfont: BonavaSans-Regular */@font-face {
    font-family: 'BonavaSans';
    src: url('BonavaSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('BonavaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BonavaSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('BonavaSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BonavaSans-Regular.svg#BonavaSans-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

