.Settings-full-page {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.Settings-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Settings-card {
  width: 100%;
  position: static !important;
  padding: 20px 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Settings-title-container,
.Settings-paragraph-container {
  padding: 25px 0;
}

.Settings-title-container h4 {
  font-family: "BonavaSans_bold" !important;
  font-size: 28px;
  color: #013b2d;
}

.Settings-paragraph-container p {
  font-family: "BonavaSans_regular" !important;
  font-size: 18px;
}

.Settings-items-container div:nth-child(5) {
  margin-top: 50px;
}

.Settings_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c5c5;
  margin-bottom: 15px;
  padding: 7px;
}

.Settings_item_f {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  max-width: 500px;
  width: 100%;
}

.Settings_sub_item_s {
  max-width: 200px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Settings_sub_item_s p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Settings_item_s button {
  font-family: "BonavaSans_regular" !important;
  color: #4fe2c1 !important;
}

@media (max-width: 772px) {
  .Settings_item {
    flex-direction: column;
    align-items: flex-end;
  }

  .Settings_item_f {
    align-items: initial;
    flex-direction: column;
  }

  .Settings_sub_item_s {
    align-items: flex-start;
  }

  .Settings_sub_item_f {
    margin-bottom: 10px;
  }

  .Settings_item_s {
    margin-top: 20px;
  }
}
